{% extends 'espace_personnel/layout.html.twig' %}

{% block title %}Search Patients{% endblock %}

{% block body %}
  <div class="container" style="width: 90%;margin-top:100px">
    <h1 style="text-align:center">Search Patients</h1>
      
       {{ form_start(search_form) }}


             <div class="form-group"> 
                {{ form_label(search_form.age, 'Age')}}
                {{ form_widget(search_form.age,{'attr': {'class' : 'form-control'}} )}}
               
            </div><br/>
              
             <div class="form-group"> 
                {{ form_label(search_form.pathologie, 'Pathologie')}}
                {{ form_widget(search_form.pathologie,{'attr': {'class' : 'form-control'}} )}}
                
            </div><br/>
            
           
        {{ form_end(search_form) }}


      

   </div> 
{% endblock %}


















